<header>
  <a href="{{ site.baseurl }}/" class="logo">
    {%include logo.html%}
    PrU
  </a>

  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu" />
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

  <!-- Menu -->
  <nav>
    <ul class="menu">
      {% for page in site.header_pages %}
      <li><a href="{{ site.baseurl }}/{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
      <li class="login">
        <a href="{{ site.baseurl }}/login">LOGIN</a>
      </li>
      <li class="profile">
        <a class="icon" href="{{ site.baseurl }}/perfil">
          <i class="nf nf-fa-user_circle_o"></i>
        </a>
      </li>
      <li class="logout profile">
        <div class="icon" id="logout">
          <i class="nf nf-fa-sign_out"></i>
        </div>
      </li>
    </ul>
  </nav>
</header>