---
layout: no-header
permalink: /register/
---

<main>
  <h1>Registre-se no PrU</h1>

  <section class="form-container">
    <form action="" class="register">
      {%include input-field.html type="text" label="Usuário" id="username"%}
      {%include input-field.html type="email" label="E-mail" id="email"%}
      {%include input-field.html type="password" label="Senha" id="pass"%}
      <button id="register">Criar conta</button>
    </form>

    <p>Já tem uma conta? <a href="{{ site.baseurl }}/login">Fazer login</a></p>
  </section>

</main>
