---
layout: no-header
permalink: /register/
css: assets/css/form.css
---

<main>
  <h1>Registre-se no PrU</h1>

  <section class="form-container">
    <form action="" class="register">
      {%include input-field.html type="text" label="Nome" id="name"%}
      {%include input-field.html type="email" label="E-mail" id="email"%}
      {%include input-field.html type="email" label="Confirme o e-mail" id="email-confirm"%}
      {%include input-field.html type="password" label="Senha" id="pass"%}
      {%include input-field.html type="password" label="Confirme a senha" id="pass-confirm"%}
      <div class="radio-input">
        {%include input-field.html name="account-type" type="radio" label="Paciente" id="patient"%}
        {%include input-field.html name="account-type" type="radio" label="Médico" id="doctor"%}
      </div>

      <button id="register">Criar conta</button>
    </form>

    <p>Já tem uma conta? <a href="{{ site.baseurl }}/login">Fazer login</a></p>
  </section>

</main>