#exames {
  margin-top: 2rem;

  & li {
    margin: 1rem;
    font-size: 1.2rem;
    background-color: var(--gray-light);
    border-radius: 1vmax;
    padding: 1rem 2rem;

    a {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    & .title {
      font-size: 1.5rem;
      color: var(--primary);
      font-weight: bold;
    }

    & .date {
      display: inline-flex;
      align-items: center;
      font-size: .8rem;
      background-color: var(--gray-darker);
      color: var(--white);
      padding: .2rem .5rem;
      border-radius: 1vmax;

      & i {
        margin-right: .3rem;
      }
    }

    & .status {
      display: inline-flex;
      align-items: center;
      font-size: .8rem;
      color: var(--gray-darker);
      font-weight: bold;
      padding: .2rem .5rem;
      border-radius: 1vmax;

      &.done {
        background-color: var(--green);
      }

      &.pending {
        background-color: var(--yellow);
      }

      &.canceled {
        background-color: var(--red);
      }
    }
  }
}

.result {
  background-color: var(--gray-light);
  border-radius: 1vmax;
  padding: 2rem 3rem;
  margin: 1rem 0;
  font-size: 1.1rem;

  & h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  & .upload,
  & .download {
    display: none;
    margin: 2rem 0;
    font-size: 1.2rem;
    color: var(--primary);
    cursor: pointer;

    & :hover {
      cursor: pointer;
    }

    & i {
      font-size: 2.5rem;
    }

    & input {
      display: none;
    }
  }
}
