@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

:root {
  --primary: #3348C3;
  --secondary: #05B2DC;
  --yellow: #F9ED4E;
  --red: #FF7547;
  --green: #94F155;
  --gray-light: #DDDDDD;
  --gray-dark: #596475;
  --gray-darker: #222222;
  --white: #EEEEEE;
  --black: #112233;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

/* MAIN */
main {
  margin: auto;
  max-width: 50rem;
  padding: 1rem 1rem 0;
  min-height: 90vh;
}

/* FOOTER */
footer {
  background-color: var(--black);
  min-height: 20vh;
}