.container-logo {
  margin: auto;
  max-width: 50rem;
  padding: 3rem 1rem 0;
  display: flex;
}

.logo {
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  font-family: "Madimi One", sans-serif;
  font-size: 2em;
  color: var(--primary);

  & svg {
    fill: var(--primary);
    width: 2em;
    margin-right: 1rem;
  }
}

h1 {
  text-align: center;
  font-size: 1.6em;
  font-weight: normal;
}
