#pacientes {
  margin-top: 2rem;

  & li {
    margin: 1rem;
    font-size: 1.2rem;
    background-color: var(--gray-light);
    color: var(--gray-darker);
    border-radius: 1vmax;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    flex-wrap: wrap;

    & .user-info {
      display: inline-flex;
      align-items: center;
      gap: 1rem;

      & .user-name {
        font-size: 1.5rem;
        color: var(--primary);
        font-weight: bold;
      }

      & .user-image {
        display: inline-flex;

        & img {
          box-shadow: .2rem .2rem 1rem var(--gray-darker);
          width: 3rem;
          border-radius: 100%;
        }

        & i {
          font-size: 3rem;
        }
      }

      & .date {
        display: inline-flex;
        align-items: center;
        font-size: .8rem;
        background-color: var(--gray-darker);
        color: var(--white);
        padding: .2rem .5rem;
        border-radius: 1vmax;

        & i {
          margin-right: .3rem;
        }
      }
    }

    & .actions {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      justify-items: center;
      gap: .5rem;

      & a,
      & .delete {
        background-color: var(--primary);
        color: var(--white);
        padding: 1rem;
        font-size: 1rem;
        border-radius: 1vmax;
      }

      & .delete {
        background-color: var(--red);
      }
    }
  }
}
