/* .doctor-info {
  display: none;
} */

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  color: var(--gray-darker);

  & .user-image {
    & img {
      box-shadow: .2rem .2rem 1rem var(--gray-darker);
      width: 10rem;
      border-radius: 100%;
    }

    & i {
      font-size: 10rem;
    }
  }

  & .user-name {
    font-size: 2rem;
    font-weight: bold;
  }

  & #crm {
    font-size: 1.2rem;
  }

  & .edit-user {
    font-size: 1.2rem;
    color: var(--primary);
  }
}

.patient-info,
.doctor-info {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;

  & section {
    background-color: var(--gray-light);
    padding: 1rem;
    border-radius: 1vmax;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    max-width: 400px;

    & h2 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: .5rem;

      & a {
        color: var(--primary);
      }
    }
  }
}
