<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PrU - Prontuário Unificado</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css">
  {% if page.css %}
    {% for css_file in page.css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/{{ css_file }}">
    {% endfor %}
  {% endif %}

  <!-- JS -->
  <script src="{{ site.baseurl }}/assets/js/app.js" defer></script>
  <script src="{{ site.baseurl }}/assets/js/header.js" defer></script>
  {% if page.js %}
    {% for js_file in page.js %}
      <script src="{{ site.baseurl }}/{{ js_file }}" defer></script>
    {% endfor %}
  {% endif %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon/pru.ico" type="image/x-icon">
</head>

<body>
  {%include header.html%}

  {{ content }}

  {%include footer.html%}
</body>

</html>
