---
layout: default
permalink: /pacientes
css:
- assets/css/pacientes.css
- assets/css/form.css
- assets/css/modal.css
js:
- assets/js/modal.js
- assets/js/pacientes.js
---

<main>
  <h2>Pacientes</h2>

  <section class="order-filter ">
    <form class="order">
      <section class="input-field-select">
        <label for="date">Ordenar por:</label>
        <select name="date" id="date">
          <option value="alfab" selected>A-Z</option>
          <option value="alfab-rev">Z-A</option>
        </select>
        <!-- TO DO! PESQUISA POR NOME -->
      </section>
    </form>

    <button type="button" id="open-modal">Novo paciente</button>
  </section>

  <section class="itens-list" id="pacientes">
    <ul></ul>
  </section>

  <section id="modal" class="modal-overlay">
    <div class="modal-content">
      <span id="close-modal"><i class="nf nf-md-close_circle"></i></span>

      <h2>Novo paciente</h2>

      <form action="" id="form-add-paciente">
        {%include input-field.html type="text" label="Paciente" id="paciente" name="paciente"%}

        <!-- <button>Solicitar código de confirmação</button>

        {%include input-field.html type="text" label="Código" id="cod" name="cod" placeholder="XXX-XXX"%} -->

        <button type="submit">Adicionar paciente</button>
      </form>
    </div>
  </section>
</main>
