---
layout: no-header
permalink: /register/
css:
- assets/css/form.css
- assets/css/register.css
js: assets/js/register.js
---

<main>
  <h1>Registre-se no PrU</h1>

  <section class="form-container">
    <form action="" class="register">
      {%include input-field.html type="text" name="nome" label="Nome" id="nome"%}
      {%include input-field.html type="email" name="email" label="E-mail" id="email"%}
      {%include input-field.html type="email" name="email-confirme" label="Confirme o e-mail" id="email-confirme"%}
      {%include input-field.html type="password" name="senha" label="Senha" id="senha"%}
      {%include input-field.html type="password" name="senha-confirme" label="Confirme a senha" id="senha-confirme"%}

      <div class="radio-input">
        {%include input-field.html name="account-type" type="radio" label="Paciente" id="paciente" value="paciente"%}
        {%include input-field.html name="account-type" type="radio" label="Médico" id="medico" value="medico"%}
      </div>

      <div class="personal-info">
        {%include input-field.html type="date" name="nascimento" label="Data de nascimento" id="nascimento"%}
        {%include input-field.html type="text" name="cpf" label="CPF" id="cpf" placeholder="XXX.XXX.XXX-XX"%}

        <section class="input-field">
          <label for="sexo">Sexo</label>
          <select name="sexo" id="sexo">
            <option value="m">Masculino</option>
            <option value="f">Feminino</option>
            <option value="">Prefiro não informar</option>
          </select>
        </section>

        {%include input-field.html type="tel" name="telefone" label="Telefone" id="telefone" placeholder="(XX) X XXXX-XXXX"%}

        {%include input-field.html type="text" name="cep" label="CEP" id="cep" placeholder="XXXXX-XXX"%}
      </div>

      <div class="doctor-info">
        {%include input-field.html type="text" name="crm" label="CRM" id="crm" placeholder=""%}
      </div>

      <button type="submit" id="register">Criar conta</button>
    </form>

    <p>Já tem uma conta? <a href="{{ site.baseurl }}/login">Fazer login</a></p>
  </section>

</main>
